nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 10px 20px;
  height: 100px;

  .title {
    font-size: 2rem;
    font-family: var(--font-family-logo);
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0.5rem;
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;

  a {
    color: #fff;
    text-decoration: none;
    margin: 2px 0;
    display: inline-block;
  }

  .current {
    font-weight: bold;
  }

  .top-links,
  .bottom-links {
    display: block;
  }

  .top-links {
    margin-bottom: 1rem;
  }

  .top-links a,
  .bottom-links a {
    font-family: var(--font-family-heading);
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (width <= 600px) {
  nav {
    padding: 10px;

    .title {
      font-size: 1.5rem;
      margin-left: 0;
    }
  }

  .nav-links .top-links a,
  .nav-links .bottom-links a {
    font-size: 1rem;
  }

  .nav-links {
    margin-right: 0.25em;
  }
}

@media (width <= 413px) {
  .nav-links {
    display: none;
  }

  nav {
    justify-content: space-around;
  }
}
